@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Stick&display=swap');

*, *:before, *:after {
  padding: 0; margin: 0; box-sizing: border-box; border: none; background: none; outline: none; text-decoration: none;
}
/* html {font-size: 62.5%;} Don't use this when using react-bootstrap */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stick', sans-serif;
}

p, span, blockquote {
  font-family: 'Montserrat', sans-serif;
}

/* Start screen */

.start-wrapper {
  min-height: 100vh;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  font-size: 3.5rem;
  display:flex;
  justify-content: center;
  margin: 1rem 0;
}

.char {
    font-family: 'Stick', sans-serif;
    font-weight:900;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #f6e58d;
    border-radius: 1rem;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    line-height: 0.5;
    display:block;
    border: .3rem solid #ffbe76;
    margin: 0 .5rem;
    color: #130f40;
}

/* in game screen */

.game-wrapper {
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.game-card {
  margin: 1rem 0;
}

.game-actions {
  margin-left: -.5rem;
  margin-right: -.5rem;
}
.game-actions__btn {
  margin: 0 .5rem;
}

.game-score-card {
  color: white;
}

.game-score-card ul {
  margin-left: 1rem;
}

/* end screen */
.end-score {
  margin: 1rem 0;
}
